
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow {
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
    height: 30px;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}
.slider-content{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 5px;
}
.slider {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 120px;
    display: flex;
}

.slider-inner {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease;
}
